<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
        <link href="<%= url('/style_index_bookmarks.css') %>" rel="stylesheet" type="text/css" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bookmarks</title>
    </head>
    <body style="background-color: black;
    background-image: url(https://www.artycraftykids.com/wp-content/uploads/2017/08/Bookmarks-1-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 250px;
     ">
        <div class="col-md-5 card mx-auto" style="border-radius: 5px; opacity: 0.91;">
            <div style="text-align: center;">
                <h3 class="card-header" style="font-size: 30px;  font-family: 'Cookie', cursive;">Bookmark Manager</h3>
                <div class="card-body">
                    <h1 style="font-size: 40px; font-family: 'Cookie', cursive;">Your Bookmarks</h1>
                    <br>



                    <% if @user %>
                      <h1 style="font-size: 30px;  font-family: 'Cookie', cursive;">Welcome, <%= @user.email %></h1>
                      <form action="/bookmarks/new" method="get"> 
                        <input type="submit" value="Add Bookmark" style="font-size: 30px;  font-family: 'Cookie', cursive;" />
                      </form>
                      <form action="/sessions/destroy" method="post">
                        <input type="submit" value="Sign out" style="font-size: 30px;  font-family: 'Cookie', cursive;" />
                      </form>
                    <% end %>
                    <ul>

                    <% if @bookmarks != nil %>
                      <% @bookmarks.each do |bookmark| %>
                        <% if bookmark.owner_id == @user.id%>
                        <li class="bookmark" id="bookmark-<%= bookmark.id %>" style="font-size: 30px;  font-family: 'Cookie', cursive;">
                          <a href="<%= bookmark.url %>" target="_blank">
                            <%= bookmark.title %>
                          </a>
                          <form action="/bookmarks/<%= bookmark.id %>" method="post">
                            <input type='hidden' name='_method' value='DELETE' />
                            <input type="submit" value="Delete" style="font-size: 20px;  font-family: 'Cookie', cursive;" />
                          </form>
                          <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
                            <input type="submit" value="Edit" style="font-size: 20px;  font-family: 'Cookie', cursive;" />
                          </form>
                          <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
                            <input type="submit" value="Add Comment" style="font-size: 20px;  font-family: 'Cookie', cursive;" />
                          </form>
                          <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
                            <input type="submit" value="Add Tag" style="font-size: 20px;  font-family: 'Cookie', cursive;" />
                          </form>
                          <% if bookmark.comments.length > 0 %>
                            <div>
                              <h2>Comments</h2>
                              <ul>
                                <% bookmark.comments.each do |comment| %>
                                  <li><%= comment.text %></li>
                                <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <% if bookmark.tags.length > 0 %>
                            <div>
                              <h2>Tags</h2>
                              <ul>
                                <% bookmark.tags.each do |tag| %>
                                  <li>
                                    <a href="/tags/<%= tag.id %>/bookmarks">
                                      <%= tag.content %>
                                    </a>
                                  </li>
                                <% end %>
                              </ul>
                            </div>
                          <% end %>
                        </li>
                      <% end %>
                      <%end %>
                    <%end%>
                      </ul>
                      <h2 style="font-size: 30px;  font-family: 'Cookie', cursive;" >
                        <%= flash[:notice] %>
                      </h2>
                    




                </div>
            </div>
        </div>
    </body>
</html>