<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
  <form action="/bookmarks/new" method="get"> 
    <input type="submit" value="Add Bookmark" />
  </form>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>
<ul>

 <% if @bookmarks != nil %>
  <% @bookmarks.each do |bookmark| %>
    <% if bookmark.owner_id == @user.id%>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="Add Tag" />
      </form>
      <% if bookmark.comments.length > 0 %>
        <div>
          <h2>Comments</h2>
          <ul>
            <% bookmark.comments.each do |comment| %>
              <li><%= comment.text %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if bookmark.tags.length > 0 %>
        <div>
          <h2>Tags</h2>
          <ul>
            <% bookmark.tags.each do |tag| %>
              <li>
                <a href="/tags/<%= tag.id %>/bookmarks">
                  <%= tag.content %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </li>
  <% end %>

   <%end %>
<%end%>

</ul>
<h2>
  <%= flash[:notice] %>
</h2>